
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 110%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  background-image: url("/images/vineBackground.png");
  background-color: #7c7f2a;
  
  color: #FFFFF3;

  min-width: 375px;
}

@media screen and (max-width: 635px) {
  html,
  body {
    font-size: 100%;
  }

  h1 {
    font-size: 200%;
  }
}

a {
  color: #FFFFF3;
  opacity: 50%;
  text-decoration: none;
}

a:hover {
  opacity: 100%;
}

h1 {
  font-size: 300%;
}

* {
  box-sizing: border-box;
}
