
.header {

  background-color:#54592D;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.headerList {
  display: flex;
  flex-direction: row;
  
  text-decoration: none;
  list-style: none;

  padding: 0px;

  margin: 0px;
}

.headerList li {
  height: 60px;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 80px;
}

.textSection {
  margin-left: 30%;
  margin-right: 30%;
}

.mainTitle {
  font-family: 'Noto Serif', serif;
  text-decoration: underline;
}


