
.header {

  background-color:#54592D;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  width: 100%;
}

.headerList {
  display: flex;
  flex-direction: row;
  
  text-decoration: none;
  list-style: none;

  padding: 0px;

  margin: 0px;
}

.headerList li {
  height: 60px;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerList a{
  color: #FFFFF3;
  opacity: 50%;
  text-decoration: none;
}

.headerList a:hover {
  opacity: 100%;
}



.main {
  margin-top: 80px;
}

.mainTitle {
  font-family: 'Noto Serif', serif;
  text-decoration: underline;
}



.textSection {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.textSection div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.textParagraphs {
  max-width: 60%;
  text-align: left;
}

.textImage {
  background-color: #54592D;
  display: flex;
  flex-direction: column;

  border-style: solid;
  border-color: #393c1f;
  border-width: 3px;
}

.textImage span {
  padding: 5px;
  width: 100%;
  max-width: 375px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #393c1f;
}



.noImgTextSection {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.noImgTextSection div {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}

.noImgTextParagraphs {
  text-align: left;
}



.listParagraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-style: solid;
  border-color: #393c1f;
  border-width: 3px;

  background-color: #54592D;
}

.listParagraphs div {

  max-width: 50%;

  text-align: left;

  align-self: flex-start;
}


.listParagraphs ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media screen and (max-width: 635px) {

  .headerList a{
    color: #FFFFF3;
    opacity: 100%;
    text-decoration: underline;
  }

  .textSection {
    margin-left: 0px;
    margin-right: 0px;
  }

  .textParagraphs {
    max-width: 90%;
  }

  .listParagraphs {

    flex-direction: column;
  }

  .listParagraphs div {
    max-width: 90%;
  }
}



